/* You can add global styles to this file, and also import other style files */

input, select, textarea {
  &.ng-invalid.ng-touched {
    border: solid 3px red;
  }
}
.form-group {
  margin: 10px;
  label {
    margin-right: 10px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
