<form  *ngIf="addressFormGroup" [formGroup]="addressFormGroup">
  <h5>Address:</h5>
  <div class="form-group">
    <label for="name">Street Name</label>
    <input formControlName="street" />
  </div>
  <div class="form-group">
    <label for="name">City</label>
    <input formControlName="city" />
  </div>
  <div class="form-group">
    <label for="name">State</label>
    <input formControlName="state" />
  </div>
  <div class="form-group">
    <label for="name">Zip</label>
    <input formControlName="zip" />
  </div>
</form>